!!!
%html
  %head
    %title CourseBuilder
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %nav.navbar.navbar-inverse.navbar-fixed-top
      .container
        %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.navbar-brand{:href => "#"} Course Builder
        .navbar-collapse.collapse
          %ul.nav.navbar-nav.navbar-right
            %li
              %a{:href => "#"} Courses
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                Options
                %b.caret
                %ul.dropdown-menu
                  %li
                    %a{:href => "#"} 1
                  %li
                    %a{:href => "#"} 2
            %li
              %a{:href => "#"} Sign In
    %section
      .container
        .row
          .col-lg-12.text-center
            %h2 Dashboard
          .col-md-12
            .col-md-4
              .card
                %a{:href => "#"}
                  .card-header
                    %img.img-responsive{:src => "http://placehold.it/250x200"}/
                  .card-content
                    %p.card-title Course Title
                    %p.card-author by John Doe
                  .card-action
                    %ul.tools
                      %li
                        %span.glyphicon.glyphicon-heart
                        %span.tools-item-counter 14
                      %li
                        %span.glyphicon.glyphicon-comment
                        %span.tools-item-counter 5
                      %li
                        %span.glyphicon.glyphicon-eye-open
                        %span.tools-item-counter 2300
